body {
    background-color: #f8f9fa;
}
.nav-item {
    font-size: 1.5em;
}

.navbar-brand {
    transition: transform .5s; /* Animation */
}

.navbar-brand:hover {
    transform: scale(1.5) rotate(360deg);
  }

.jumbotron{
	padding-left: 0;
    position: relative;
    overflow: hidden;
    height: 100vh; 
    padding-bottom: 0;
    margin-bottom: 0;
} 

.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    /* opacity:0.9; */
    margin-top: -65px;
  }

#welcome_heading {
      padding-left: 15px;
      color: deeppink;
  }

#landing_caption {
    text-align: right;
    padding-left: 4px;
    padding-top: 310px;
    margin-bottom: 0;
  }

#more_info_btn {
    float: right;
}

p {
    text-align: center;
}

#AboutUs {
    padding-top: 15px;
    padding-bottom: 15px;
}

#about {
    text-align:center;
}

#about_section:hover {
    background-color: #f792e1;
    transition: .5s ease;
} 

.img-container {
    padding-top: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#fc98e6;
}

.img-container:hover .overlay, .img-container:hover .overlay-blue {
    opacity: .7;
}

.overlay-blue {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#73CCFC;
}

.text {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;
}

ul {
    list-style: none;
}

@media only screen and (min-width: 768px) {
    p {text-align: justify}; 
    h1 #about {text-align: left} ;
} 

h2 {
    text-align: center;
}

.btn-primary {
    background-color: #8BD5FD;
    border-color: #8BD5FD;
}

.btn-primary:hover {
    background-color:#f792e1;
}

.card {
    background-color: #f8f9fa;
}

#visit-us {
    text-align:center;
}

/*Social Icons*/

ul.socialIcons {
    padding: 0;
    text-align: center;
  }
  
  .socialIcons li {

    list-style: none;
    display: inline-block;
    margin: 4px;
    border-radius: 2em;
    overflow: hidden;
  }
  
  .socialIcons li a {
    display: block;
    padding-left: .7em;
    padding-top: .5em;
    min-width: 2.28571429em;
    max-width: 2.28571429em;
    height: 2.28571429em;
    white-space: nowrap;
    line-height: 1.5em; /*it's working only when you write text with icon*/
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
  }
  
  .socialIcons li i {
    margin-right: 0.5em;
  }
  
  .socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
  }
  
  .socialIcons .facebook {
    background-color: #3b5998;
    box-shadow: 0 0 16px #3b5998;
  }
  
  .socialIcons .tiktok {
    background-color: #000000;
    box-shadow: 0 0 16px #000000;
  }
  
  .socialIcons .instagram {
    background-color: #c13584;
    box-shadow: 0 0 16px #c13584;
  }

#SocialLinks {
    padding-top: 20px;
}
  


/*
@media only screen and (min-height: 640px) {
    #landing_caption {padding-top: 350px; text-align: center};
}

@media only screen and (min-height: 667px) {
    #landing_caption {padding-top: 370px; text-align: center};
}

@media only screen and (min-height: 731px) {
    #landing_caption {padding-top: 450px; text-align: center};
}

@media only screen and (min-height: 812px) {
    #landing_caption {padding-top: 505px; text-align: center};
} */

