<!DOCTYPE html>
<html lang='en'>
    <head>
        
        <title>
            {{ Title }}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://kit.fontawesome.com/5d364eba42.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="home" class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <a class="navbar-brand" href="#home"> 
                    <img src="/static/images/logo1.png" width="90" height="80" alt="logo" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#second_row">Gallery</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Us!</a>
                    </li>
                </ul>
                </div>
            </nav>
            <div class="jumbotron bg-transparent">
                <video autoplay muted loop poster="">    
                    <source src="" data-src="/static/videos/landing_video_Trim.mp4" type="video/mp4">
                </video>
                <h1 id="welcome_heading" class="display-4">Welcome</h1>
                
                <!--<p id="landing_caption">"The home of Tipperary's best 99!" The Nationalist</p>-->
                <!--<a id="more_info_btn" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
            </div>
            <div class="row">
                <div id="about_section" class="col-md-6">
                    <h1 id="about" class="display-4">About Us</h1>
                    <p class="lead">
                        Grogan's Café and Ice Cream Parlour is located in the historic town of Cashel, Co. Tipperary.
                    </p>
                    <p class="lead">
                        Drawing on over 60 years of tradition, this family-run business strives to provide to the best possible experience to all who visit.
                    </p>
                    <p class="lead">
                        Drawing on over 60 years of tradition, this family-run business strives to provide to the best possible experience to all who visit.
                    </p>
                    <p class="lead">
                        Drawing on over 60 years of tradition, this family-run business strives to provide to the best possible experience to all who visit.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="img-container">
                        <img src="/static/images/shop_1960.jpg" class="img-fluid rounded" alt="Old Shop Image">
                        <div class="overlay">
                            <div class="text">The original Grogan's shop. Cashel, 1960.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="second_row" class="row">
                <div class="col-md-6">
                    <div class="img-container">
                        <img src="/static/images/crepes.jpg" class="img-fluid rounded" alt="Crepes Image">
                        <div class="overlay">
                            <div class="text">Delicious, Homemade Crepes</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-container">
                        <img src="/static/images/crepes1.jpg" class="img-fluid rounded" alt="Crepes Image">
                        <div class="overlay-blue">
                            <div class="text">Strawberry Delight</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Home of Tipperary's best 99 Ice Cream!</h5>
                  <p class="card-text">Grogan's was voted home to the best 99 in County Tipperary by readers of The Nationalist newspaper.</p>
                  <a href="https://www.tipperarylive.ie/news/home/251819/winner-announced-best-99-in-tipperary.html" class="btn btn-primary">Read more!</a>
                </div>
                <img src="/static/images/99.jpg" class="card-img-top" alt="99 ice cream cone">
              </div>

             <div class="row">
                <div class="col text-center">
                    <h2 id="contact" class="display-4">Visit Us!</h2>
                    <ul class="lead">
                        <li><b>Address:</b> Lowergate Square, Cashel, Co. Tipperary, E25 WY22</li>
                        <li><b>Opening Hours:</b> 9:00 - 17:30, 7 days per week</li>
                        <li><b>Phone:</b> +353 62 63731</li>
                       
                        <!-- <a href="https://goo.gl/maps/HieDxVsYhR8chiyg7" target="_blank" class="btn btn-light btn-lg btn-block" role="button">Get directions</a> -->
                    </ul>
                </div>
            </div> 
            <div class="row">
                <div class="col text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.963719700623!2d-7.893263949217353!3d52.515995644180215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485ccbdb5d222817%3A0x22a9b0f55c838a3e!2sGrogan&#39;s%20Caf%C3%A9%20and%20Ice%20Cream%20Parlour!5e0!3m2!1sen!2sie!4v1674732794915!5m2!1sen!2sie" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>    
            </div>
            <!-- <form id="contactForm" onsubmit="return send();">
                <label for="name">Name</label>
                <input type="text" name="Name" required>
               
                <label for="email">Email</label>
                <input type="email" name="Email" required>
               
                <label for="message">Message</label>
                <textarea name="Message" required></textarea>
               
                <input type="submit" value="Submit" id="contactGo">
              </form> -->
              <ul class="socialIcons">
                <li class="facebook"><a href=""><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li class="tiktok"><a href=""><i class="fa-brands fa-tiktok"></i> tiktok</a></li>
                <li class="instagram"><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
              </ul>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="/static/js/script.js"></script>
        
    </body>
</html>