<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ Title }}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div>
        <h1>Grogan's Café and Ice Cream Parlour</h1>
        <p>Cashel, Co. Tipperary</p>
        </div>
        <div>
        <img id="landingLogo" src="/static/images/logo.jpg">
        </div>
    </body>
</html>